
<div class="container">       
  <h1>Editar Receita</h1>
  <h2>Utilize o formulári abaixo, para editar as informações cadastradas</h2>
  <p style="color:red;">(Cadastro ainda não funciona)</p>
  <br/> 
  
  <div class="container">
    <form class="example-form">
    
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Descrição: </mat-label>
        <input matInput placeholder="Ex. Aluguel do apartamento" value="{{this.descricao}}">
      </mat-form-field>
      <br>

      <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Valor: </mat-label>
          <input matInput placeholder="Ex. 39.5" value="{{this.valor}}" type="number">
        </mat-form-field>
        <br>

        <button mat-raised-button class="bt-cancelar" style="margin-right: 10px;">Cancelar</button>
        <button mat-raised-button class="bt-salvar" >Cadastrar</button>

              
      </form>
    </div>
    <div class="row">
      <button mat-fab color color="warn" class="right" onclick="window.history.go(-1);">Voltar</button>
    </div>
  </div>

  <br/>
  <br/>
  <app-rodape></app-rodape>

