
   <footer class="page-footer">
            <div class="container">
              <div class="row">
                <div class="col s12">
                  <h5 class="verde-escuro">Sistema para gestão de despesas</h5>
                  <p class="grey-text text-lighten-4">Trabalho de para pós graduação da matéria de Frameworks utilizando Angular</p>
                </div>
             
              </div>
            </div>
            <div class="footer-copyright">
              <div class="container">
              © {{year}} Copyright Gestão de despesas
              </div>
            </div>
          </footer>