<main>
<div class="container">
    <div class="row top-nav ">  
       
      <h2>Seja bem-vind@<span class="txtUsuarioLogado">, {{user.name}}</span> </h2>
     
        <div class="col s12 m4 ">           
            <div class="card hoverable">
                <div class="card-image"> 
                <!-- <img src="/assets/card-img-cadDespesas.png"> -->
                <img src="/assets/card-img-cadDespesas.png">
                <a routerLink="/despesas/listar" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">             
                <p><b>Cadastrar todas as despesas</b><br />
                    Cadastre as despesas no sistemas, para melhor organização financeira</p>
                </div>
            </div>
        </div>
      


        <div class="col s12 m4">
        <div class="card hoverable">
          <div class="card-image">         
            <img src="/assets/card-img-verDespesas.png">
            <a routerLink="/despesas/listar" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          
          <div class="card-content">           
            <p><b>Ver todos as despesas</b><br />
                Nesta área, você visualiza todas as despesas cadastradas, com os principais detalhes.</p>
          </div>
        </div>
      </div>


      <div class="col s12 m4">
        <div class="card hoverable">
          <div class="card-image">
            <img src="/assets/card-img-cadReceita.png">
              <a routerLink="/receitas/cadastrar-receitas" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
           <p><b>Cadastro de receita</b><br /> 
            Faça o cadastro das receitas que compõe o seu orçamento.</p>
          </div>
        </div>
      </div>
    </div>  
</div>
</main>
