mat-grid-tile {
    background: lightblue;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FB9702;
    }

    h2 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;    
      color: #00574C;
   }
    
    .container {
    margin-top: 30px;
   }

   form {

   margin:30px; 

   }

   .bt-salvar {    
    background: #7749F8;
    color: #FFFFFF;
    font-weight: 100;
  }

  .bt-editar {    
    background: #d2dd09;
    color: #FFFFFF;
    font-weight: 100;
  }

  

  
  .bt-cancelar {    
    background: #FB9702;
    color: #FFFFFF;
    font-weight: 100;
  }

  .bt-excluir {    
    background: red;
    color: #FFFFFF;
    font-weight: 100;
  }