
<div class="container">       
    <h1>Sobre</h1>

    <h2>Sistema para ajudar a gerenciar despesas, organizar e controlar gastos e receitas</h2>    
    <br/> 
    <p>Este sistema faz parte de um trabalho para curso de pós graduação, usando framework Angular para desenvolvimento
        das atividades. <br/>
        Todos os dados aqui informados, são fictícios. <br >
        <br/>
        Angular é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript liderado pela Equipe Angular do Google e por uma comunidade de indivíduos e corporações.

    </p>
    <br/> 
    <br/> 
</div>  

<app-rodape></app-rodape>