
<header>
<div class="topo">    
    <h1 class="textoTopo1">{{ titulo }}</h1>
    <h2 class="textoTopo2">Sistema para gestão de despesas domésticas</h2>
    
    
    <nav>                 
        <div class="nav-wrapper">
            <div class="container">       
                <!-- <a href="#" class="brand-logo right"><img src="/assets/logo.png" class="logo img-fluid"/></a> -->
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menux</i></a>
                <ul class="left hide-on-med-and-down">
                <li><a href="collapsible.html">Home</a></li>
                <li><a href="sass.html">Todas as despesas</a></li>
                <li><a href="badges.html">Cadastrar despesas</a></li>
                <li><a href="collapsible.html">Cadastrar tipos de despesas</a></li>
                <li><a href="collapsible.html">Cadastrar receitas</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<ul class="sidenav" id="mobile-demo" #mobile>
    <li><a href="mobile.html">Home</a></li>
    <li><a href="sass.html">Todas as despesas</a></li>
    <li><a href="badges.html">Cadastrar despesas</a></li>
    <li><a href="collapsible.html">Cadastrar tipos de despesas</a></li>
    <li><a href="mobile.html">Cadastrar receitas</a></li>
</ul>
</header>






<router-outlet></router-outlet>



