ul {
  list-style-type: none;
  font-size: 20px;
}

nav {
  background-color: transparent;
  box-shadow: none;
}


.topo {  
  background-color:#82CAC9;
  background-image: url("/assets/logo.png");
  background-repeat: no-repeat;  
  background-position: right 20px top 20px;
  background-size: auto 120%;  
  padding: 50px 0px 0px 10px;

}


.topo h1 {
  margin-top: 0;
}

.topo h2 {
  margin-top: 0;
}


.textoTopo1, .textoTopo2 {
padding-left: 40px;
}

.textoTopo2 {
  color: #00574C;
}




h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  color: #FFFFFF;

}

h2{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
}


@media (max-width: 600px) {
  .topo {      
    background-color:#82CAC9;
    background-image: url("/assets/logo.png");
    background-repeat: no-repeat;  
    background-position: right 10px top 90px;
    background-size: auto 60%;  
    padding: 30px 0px 0px 0px;
  }

  h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
  
  }
  
  h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    
  }
}







