<main>
<div class="container">
    <div class="row top-nav ">  
       
      <!-- <h2>Seja bem-vind@<span class="txtUsuarioLogado">, {{user.name}}</span> </h2> -->
                 
        <div class="col s12 m4 ">           
            <div class="card hoverable">
                <div class="card-image"> 
                <!-- <img src="/assets/card-img-cadDespesas.png"> -->
                <img src="assets/card-img-cadDespesas.png">
                <a routerLink="/despesas/listar" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
                </div>
                <div class="card-content">             
                <p><a routerLink="/despesas/listar"><b>Cadastrar todas as despesas</b><br />
                    Cadastre as despesas no sistema, para melhor a sua organização financeira.</a></p>
                </div>
            </div>
        </div>
      


        <div class="col s12 m4">
        <div class="card hoverable">
          <div class="card-image">         
            <img src="assets/card-img-cadUsuario.png">
            <a routerLink="/usuarios" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          
          <div class="card-content">           
            <p><a routerLink="/usuarios"><b>Cadastrar usuário</b><br />
                Nesta área, você pode cadastrar usuários para utilizarem a área logada.</a></p>
          </div>
        </div>
      </div>


      <div class="col s12 m4">
        <div class="card hoverable">
          <div class="card-image">
            <img src="assets/card-img-verDespesas.png">
              <a routerLink="/receitas/listar-receitas" class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
          </div>
          <div class="card-content">
           <p> <a routerLink="/receitas/listar-receitas"><b>Cadastro de receitas</b><br /> 
            Faça o cadastro das receitas que compõe o seu orçamento.</a></p>
          </div>
        </div>
      </div>
    </div>  
</div>
</main>
