


.txtUsuarioLogado {
  color: #7749F8;
}


ul {
    list-style-type: none;
    font-size: 20px;
  }
  

 .container {
  margin-top: 50px;
 }
  
  .topo h1 {
    margin-top: 0;
  }
  
  .topo h2 {
    margin-top: 0;
  }
  
  
  .textoTopo1, .textoTopo2 {
  padding-left: 40px;
  }
  
  h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
  
  }
  
  h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #00574C;
  }
  

  h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;    
    color: #00574C;
 }

p a {
  text-decoration: none;
  color: black;
}

p a:hover {
  text-decoration: underline;
  color: black;
}

  @media (max-width: 600px) {
    .topo {      
      background-color:#82CAC9;
      background-image: url("/assets/logo.png");
      background-repeat: no-repeat;  
      background-position: right 20px top 20px;
      background-size: auto 60%;  
      padding: 50px 0px 0px 10px;
    }

    .textoTopo1, .textoTopo2 {
        font-size: 12px!important;
        border: 1px solid red;
        }

       .container {
        margin-bottom: auto;
        margin-top: 20px;
       } 

  }

  
  
  
  
  
  
  
  